@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-img-match-creation {
      background-image: url('./assets/matchs/BackgroundMatchCreation.svg');
    }
    .bg-img-match-creation-mobile {
      background-image: url('./assets/matchs/BackgroundFormBackgroundMatchCreation.svg');
    }
    .bg-img-match-confirmation-mobile {
      background-image: url('./assets/matchs/BackgroundMatchConfirmationMobile.svg')
    }
    .custom-scroll {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer and Edge */
    }
    
    .custom-scroll::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }